@CHARSET "UTF-8";

body {
    margin: 0 auto;
    font-size: 15px;
}
.box {
    position: absolute;
    top: 35%;
    left: 38%;
    width: 20rem;
    height: 12rem;
    border-radius: 0.6rem;
    background-color: #5799d5;
}
.msg {
    position: center;
    top: 45%;
    left: 23%;
    font-size:1.4rem;
    border-radius: 0.4rem;
    text-align: center;
    width: 10rem;
    height: 2rem;
    color: #5788e9;
    background-color: #fff;
}
.box a{
    position: absolute;
    top: 50%;
    left: 23%;
    color: #fff;
    text-decoration: none;
}